{% if title == blank %}
  {% assign title = 'Pinefolk SMP' %}
  {% assign formatted_title = title %}
{% else %}
  {% assign formatted_title = title | concat: ' - Pinefolk SMP' %}
{% endif %}

{% assign global_description = 'Pinefolk is een Minecraft-survivalserver waar de community centraal staat. Een plek waar je weer dat gevoel van vroeger ervaart: casual Minecraft spelen met vrienden of nieuwe mensen, samen bouwen, gezellig kletsen via voice chat of spontaan avonturen beleven alsof je nooit bent weggeweest.' %}

<!doctype html>
<html lang="nl">
  <head>
    <title>
      {{ formatted_title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/simple.min.css' | url}}">
    <link rel="stylesheet" href="{{ '/custom.css' | url}}">
    <link rel="icon" type="image/x-icon" href="{{ '/img/favicon.ico' | url }}">
  </head>
  <body>
    {% include 'header.liquid' %}
    <main>
      {{ content }}
    </main>
    {% include 'footer.liquid' %}
  </body>
</html>
