---
layout: base.liquid
---
<h2>Over Pinefolk</h2>

<p>
  <strong>
    Pinefolk is een Minecraft-survivalserver waar de community centraal staat. Een plek
    waar je weer dat gevoel van vroeger ervaart: casual Minecraft spelen met vrienden of
    nieuwe mensen, samen bouwen, gezellig kletsen via voice chat of spontaan avonturen
    beleven alsof je nooit bent weggeweest.
  </strong>
  <br>
  <br>
  We misten dat nostalgische Minecraft-gevoel: die chillserver waar iedereen elkaar kent,
  waar projecten samen groeien en waar je altijd wel iemand tegenkomt die iets leuks aan
  het doen is. Een sfeer die sterk doet denken aan het Hermitcraft-gevoel: creatief,
  vriendelijk, inspirerend en vooral een community waarin iedereen elkaar verder helpt.
  <br>
  <br>
  Om die beleving te waarborgen, werken we met een whitelist en een klein maandelijks
  bedrag. Dit houdt griefers buiten, zorgt voor een rustige en veilige omgeving en
  garandeert dat iedereen op de server bewust kiest voor dezelfde positieve vibe. Zo
  ontstaat een hechte, volwassen community waar je met plezier deel van wilt uitmaken.
  <br>
  <br>
  <strong>
    Minecraft is en blijft leuk. Maar een wereld vol mensen die dezelfde energie,
    gezelligheid en creativiteit meebrengen? Dat maakt Pinefolk bijzonder, en precies de
    plek waar je dat vertrouwde, magische Minecraft-gevoel opnieuw kunt beleven.
  </strong>
</p>

<h3>Mods en data packs</h3>

<p>
  Wij noemen Pinefolk een vanilla Minecraft-server, maar dat is niet helemaal waar. We
  hebben namelijk een aantal mods en data packs geïnstalleerd om de ervaring te
  verbeteren. Zonder bepaalde mods kun je de server niet eens joinen.
  <br>
  <br>
  <a href="{{ '/gids/minecraft-installatie' | url }}">
    Welke mods je nodig hebt om de server te joinen en hoe je ze installeert, vind je hier
  </a>
</p>

<figure class="full-bleed">
  <table>
    <caption>
      Alle geïnstalleerde mods en data packs
    </caption>
    <thead>
      <tr>
        <th scope="col">Naam</th>
        <th scope="col">Beschrijving</th>
        <th scope="col">Soort</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      {% assign sorted_items = install | sort: 'type.mod', 'last' %}
      {% for item in sorted_items %}
        <tr id="{{ item.name | slugify }}">
          <th scope="row">
            <a href="{{ item.link }}">{{ item.name }}</a>
          </th>
          <td>{{ item.description }}</td>
          <td style="white-space: nowrap;">{{ item.type }}</td>
          <td>
            {% assign sorted_envs = item.env | sort %}
            {% for env in sorted_envs %}
              {% if forloop.last %}
                {{ env }}
              {% else %}
                {{- env -}}
                ,
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</figure>

<p>
  Niet getoond hier: We hebben ook een aantal mods die de performance van de server
  verbeteren, de server beheren en misbruik voorkomen.
</p>

<h2>Veelgestelde vragen</h2>
{% for question in faq %}
  <details>
    <summary>{{ question.question }}</summary>
    {{ question.answer }}
  </details>
{% endfor %}
